body {
    background-color: #D4D5D9;
    margin: 0;
    padding: 0;
}

.photo {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 10px;
}

.line {
    width: 90%;
    height: 1px;
    background: black;
    margin-left: 5%;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    display: inline;
}

header {
    margin-left: 5%;
    padding: 1em 2em 0;
}

div {
    width: 30%;
    height: auto;
    margin-top: 1.5em;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.popup {
    visibility: hidden;
    width: 85%;
    height: auto;
    position: fixed;
    top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D4D5D9;
    transition: all 0.4s;
}

.pop-photo {
    width: 50%;
    height: 50%;
    margin: 2em 0;
    box-shadow: 2px 2px 10px;
}

.bio {
    width: 40%;
    font-family: 'Satisfy', cursive;
    font-size: 1.7vw;
}

.cover {
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    margin: 0;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #D4D5D9;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 2px;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb {
    background-color: #4D4847;
    border-radius: 5px;
}

.open-popup {
    visibility: visible;
}

@media (max-width : 600px) {
    header {
        text-align: center;
        margin-left: 0;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    div {
        width: 90%;
        height: auto;
    }

    .popup {
        top: 6%;
        flex-direction: column;
        height: 80%;
        width: 80%;
    }

    .popup img {
        margin: 1em;
        margin-bottom: 0;
        width: 70%;
        height: auto;
    }

    .bio {
        padding: 1em;
        width: 60%;
        margin: 0;
        margin-bottom: 1em;
        font-size: 3vw;
    }
}